<html>
            <head>
            <style>
             table, th, td{{
                    border : 1px solid white;
                    border-collapse: collapse;
               }}
               th, td{{
                    background-color:#DADBDD;
                }}
              </style>
              </head>
              <body>
              <h3> Ignore this Email | The following is Test email </h3>
              <h4> Dear, {} </h4>
              <p> Welcome to Asset Management, Here is your OTP - {} </p>
             
            <p> Thank you. </p>

<pre> 
Best Regards,

Admin,
Asset Management (Saas platform).

</pre>
</body>
</html> 